fastapi
uvicorn
pyyaml
python-dotenv
pydantic
langchain-core
langchain-aws
langchain-chroma
langchain-tavily
langgraph
langsmith
langgraph-checkpoint-sqlite
mlflow
pandas
deepeval
dotenv
aiobotocore
botocore
dvc